body {
    background-color: #4B96F1;
}

.container {
    width: 500px;
}

.select {
    width: 150px;
    padding: 10px !important;
}

.btn {
    width: 385px;
    margin: 20px auto;
    background-color: #4B96F1 !important;
}

.vibrate {
    animation: vibrate 1s infinite alternate-reverse;
}

@keyframes vibrate {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}